<!-- no need for thumnails unless there is more then one image -->
<% if product.images.size > 1 %>
  <ul id="product-thumbnails" class="thumbnails inline" data-hook>
    <% product.master.images.each do |i| %>
      <li class="tmb-all" id="tmb-<%= i.id.to_s %>"><%= link_to_image(i.attachment, product.name) %></li>
    <% end %>

    <% if @product.has_variants?
      @variants.each do |v|
        if v.available?
          v.images.each do |i| %>
            <li class="tmb-all vtmb vtmb-<%= v.id.to_s %>" id="tmb-<%= i.id.to_s %>"><%= link_to_image(i.attachment, v.name+' '+variant_options(v)) %></li>
          <% end
        end
      end
    end
    %>
  </ul>
<% end %>